@tailwind base;
@tailwind components;
@tailwind utilities;



.marquee-container {
    overflow: hidden; /* Hide the overflow */
    white-space: nowrap; /* Prevent wrapping */
    position: relative; /* Position relative for the inner div */
  }
  
  .marquee {
    display: inline-block; /* Allow horizontal scrolling */
    animation: marquee 10s linear infinite; /* Animation properties */
  }
  
  @keyframes marquee {
    0% {
      transform: translateX(100%); /* Start from the right */
    }
    100% {
      transform: translateX(-100%); /* End at the left */
    }
  }
  